.Interaction.solution a {
  border: none;
}
.Interaction.solution li {
  margin-bottom: 60px;
}
.Interaction.solution li:hover {
  cursor: pointer;
}
.Interaction.solution li:hover .textBtn {
  color: #00a0e9;
  background: url(../img/onactive.png) no-repeat right center;
}
.Interaction.solution img {
  height: 189px;
}
.Interaction.solution .textBtn {
  background: url(../img/fwj_icon_13.png) no-repeat right center;
  padding-right: 40px;
  width: 180px;
  font-size: 18px;
  color: #353535;
  margin: 20px auto 0;
}
