<!--app定制-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>APP定制</title>
        <link rel="stylesheet" type="text/css" href="css/public.css"/>
        <link rel="stylesheet" type="text/css" href="css/appCustomized.css"/>
        <link rel="shortcut icon" href="/images/bitbug_favicon.ico" />
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <div class="logo lFloat"></div>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="active btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>   
            <div class="topimg main"><img src="images/dinzi_banner_02.jpg" /></div>
            <div class="main bgwhite" style="margin: 0 auto 120px;">
                <ul class="appCustom cf">
                    <li>
                        <div class="cutomBox">
                            <img src="images/dizhi_icon_05.png" />
                            <p>Sketch矢量软件全程设计</p>
                            <span>设计案例覆盖，金融，旅游，O2O，社交，教育，游戏等行业<br>每一张设计图都遵循逻辑，我们推荐SVG矢量图标，便于二次设计修改使用</span>
                            <a href="">我需要设计服务>></a>
                        </div>
                    </li>
                    <li class="textright">
                        <video src="images/video/design.mp4" loop="loop" autoplay width="96%" height="100%"></video>
                    </li>
                    <li class="textleft">
                        <video src="images/video/code.mp4" loop="loop" autoplay width="96%" height="100%"></video>
                    </li>
                    <li>
                        <div class="cutomBox plbox">
                            <img src="images/dizhi_icon_09.png" />
                            <p>Flinto+Sketch动态效果展示</p>
                            <span>设计好的产品原型图用Flinto+Sketch矢量软件结合使用在移动端逼真展示<br>每一交互我们都精心策划，打造产品完美的细节，给用户一个极佳的体验</span>
                            <a href="">我需要设计服务>></a>
                        </div>
                    </li>
                    <li>
                        <div class="cutomBox">
                            <img src="images/dizhi_icon_12.png" />
                            <p>前端工程师开发，文件全标注</p>
                            <span>标准的标注文件，包含前端工程师各种元素，打破传统PS文件繁琐模式<br>间距，尺寸，颜色，css代码等，让前端事半功倍，效率更高</span>
                            <a href="">我需要前端服务>></a>
                        </div>
                    </li>
                    <li class="textright">
                        <video src="images/video/insert.mp4" loop="loop" autoplay width="96%" height="100%"></video>
                    </li>                   
                </ul>
            </div>
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <%- homeModel.value.codeFooter %>
            </div>
        </footer>
    </body>
</html>
