<!--客户案例详情-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/public.css"/>      
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <div class="logo lFloat"></div>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>
            <div class="main detailstop cf">
                <h1>医疗行业解决方案</h1>
                <span class="lFloat">来源：咕德网络科技有限公司 </span><a href="" class="rFloat">返回上一级</a>
            </div>
            <div class="main bgwhite" style="margin: 0 auto 45px;">
                <div class="solutionDetails">
                    <p>能很好的达到客户想要的效果，因此签订网站建设服务合同，其中包括响应式网站建设，网站后台功能开发。</p>

                     <p>光联科技为四川思迈科技有限公司子公司，公司注册资本为5102.4万元，现有员工900余人。旗下拥有多家子公司，在四川和深圳拥有多个研发、生产基地，营销和服务中心。是绵阳市政府重点招商引资的中港合资高科技企业。公司所有产品均直接采用国际电信联盟的标准设计、认证和制造。目前已取得泰尔认证中心产品认证证(TLC)、国际标准质量管理体系认证证书(ISO9001)、环境管理体系认证证书(ISO14001)、职业健康安全管理体系认证证书(OHSAS18001)和国家广播电影电视总局广播电视设备器材入网认定证书。</p>
                    <p> 光联科技为四川思迈科技有限公司子公司，公司注册资本为5102.4万元，现有员工900余人。旗下拥有多家子公司，在四川和深圳拥有多个研发、生产基地，营销和服务中心。是绵阳市政府重点招商引资的中港合资高科技企业。公司所有产品均直接采用国际电信联盟的标准设计、认证和制造。目前已取得泰尔认证中心产品认证证(TLC)、国际标准质量管理体系认证证书(ISO9001)、环境管理体系认证证书(ISO14001)、职业健康安全管理体系认证证书(OHSAS18001)和国家广播电影电视总局广播电视设备器材入网认定证书。</p>
                    <p> 光联科技为四川思迈科技有限公司子公司，公司注册资本为5102.4万元，现有员工900余人。旗下拥有多家子公司，在四川和深圳拥有多个研发、生产基地，营销和服务中心。是绵阳市政府重点招商引资的中港合资高科技企业。公司所有产品均直接采用国际电信联盟的标准设计、认证和制造。目前已取得泰尔认证中心产品认证证(TLC)、国际标准质量管理体系认证证书(ISO9001)、环境管理体系认证证书(ISO14001)、职业健康安全管理体系认证证书(OHSAS18001)和国家广播电影电视总局广播电视设备器材入网认定证书。</p>
                    <p> 光联科技为四川思迈科技有限公司子公司，公司注册资本为5102.4万元，现有员工900余人。旗下拥有多家子公司，在四川和深圳拥有多个研发、生产基地，营销和服务中心。是绵阳市政府重点招商引资的中港合资高科技企业。公司所有产品均直接采用国际电信联盟的标准设计、认证和制造。目前已取得泰尔认证中心产品认证证(TLC)、国际标准质量管理体系认证证书(ISO9001)、环境管理体系认证证书(ISO14001)、职业健康安全管理体系认证证书(OHSAS18001)和国家广播电影电视总局广播电视设备器材入网认定证书。</p>
                    <p> 光联科技为四川思迈科技有限公司子公司，公司注册资本为5102.4万元，现有员工900余人。旗下拥有多家子公司，在四川和深圳拥有多个研发、生产基地，营销和服务中心。是绵阳市政府重点招商引资的中港合资高科技企业。公司所有产品均直接采用国际电信联盟的标准设计、认证和制造。目前已取得泰尔认证中心产品认证证(TLC)、国际标准质量管理体系认证证书(ISO9001)、环境管理体系认证证书(ISO14001)、职业健康安全管理体系认证证书(OHSAS18001)和国家广播电影电视总局广播电视设备器材入网认定证书。</p>
                </div>
            </div>          
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <div class="main cf">
                    <div class="leftphone lFloat">
                        <p>售前咨询</p>
                        <span>17189898968</span>
                        <i></i>
                    </div>
                    <div class="rightLsit rFloat">
                        <ul class="cf">
                            <li><a href="">关于咕德 </a></li>
                            <li><a href="">解决方案</a></li>
                            <li><a href="">联系我们</a></li>
                            <li><a href="">汇款账户</a></li>
                            <li><a href="">新闻资讯</a></li>
                            <li><a href="">古德外包</a></li>
                            <li><a href="">咕德</a></li>
                        </ul>
                        <p>版权所有 @ 2015-2017 杭州咕德网络科技有限公司   Copyright @ Goodwangluo.com  ALL Rights Reserved</p>
                        <span>浙 ICP 备 17020666号  </span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
