<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>汇款账户</title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/paymentMethod.css"/>       
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <div class="logo lFloat"></div>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="active btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section class="bgwhite">   
            <div class="topimg main"><img src="images/pay_02.png" /></div>
            <div class="main bgwhite paycontent">
                <h3>咕德网络付款方式</h3>
                <div class="payMethod">
                    <ul class="cf">
                        <li><img src="images/pay_05.jpg" /></li>
                        <li class="noborder"><img src="images/pay_07.png" /></li>
                    </ul> 
                </div>
                <div class="payMethod payCard">
                    <ul class="cf">
                        <li><img src="images/pay_12.jpg" />
                            <p>开户行   招商银行杭州分行<br/>
                                帐　号   <span>5719 0831 5010 108</span><br/>
                                收款公司    杭州熊信科技有限公司
                            </p>
                        </li>
                        <li class="noborder"><img src="images/pay_15.jpg" />
                            <p>开户行   建设银行杭州分行<br/>
                                帐　号  <i>9919 0831 5010 155</i><br/>
                                收款公司    杭州熊信科技有限公司
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <%- homeModel.value.codeFooter %>
            </div>
        </footer>
    </body>
</html>
