<!--建站套餐-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>建站套餐</title>
        <link rel="stylesheet" type="text/css" href="css/public.css"/>
        <link rel="stylesheet" type="text/css" href="css/sitePackage.css"/>
        <link rel="shortcut icon" href="/images/bitbug_favicon.ico" />
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <a href="/" class="logo lFloat"></a>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="active btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>   
            <div class="topimg main"><img src="images/jztcbanner_02.jpg" /></div>
            <div class="main bgwhite">
                <div class="tableBox">
                    <h1>12800元定制网站建设服务项目</h1>
                    <table cellspacing="0">
                        <tr class="topcolor">
                            <td class="bgblue" rowspan="2">总体说明</td>
                            <td>响应式：PC+手机自动响应式</td>
                            <td>制作形式：独立定制设计开发</td>
                            <td>开发周期：10-15个工作日（供参考）</td>
                        </tr>
                        <tr class="topcolor">
                            <td>网站后台：独立后台（全功能版6.0）</td>
                            <td colspan="2">付款方式：<b>2800（下单支付）</b>+5000(设计定稿后支付)+5000（验收完成支付）</td>
                        </tr>                       
                    </table>
                    <table cellspacing="0" class="bordertopnone">
                        <tr>
                            <td class="bgblue" rowspan="3">基础服务</td>
                            <td class="color1">域名</td>
                            <td class="color2">赠送国际或国内域名一年使用期</td>
                            <td class="color1">服务器</td>
                            <td class="color2">赠送阿里云虚拟主机一年使用期</td>
                        </tr>
                        <tr>
                            <td class="color1">网站备案</td>
                            <td class="color2">免费备案</td>
                            <td class="color1">栏目策划</td>
                            <td class="color2">免费栏目策划服务</td>
                        </tr>
                        <tr>
                            <td class="color1">发票</td>
                            <td class="color2">提供增值税普通/专用发票</td>
                            <td class="color1">多语言版本</td>
                            <td class="color2">另行付费</td>
                        </tr>
                        <tr>
                            <td class="bgblue" rowspan="3">设计服务</td>
                            <td class="color1">首页</td>
                            <td class="color2">首次提交设计稿：1稿</td>
                            <td class="color1">栏目数量</td>
                            <td class="color2">首次提交设计稿：1稿 拷贝</td>
                        </tr>
                        <tr>
                            <td class="color1">首页banner</td>
                            <td class="color2">1张</td>
                            <td class="color1">二级栏目banner</td>
                            <td class="color2">每个栏目1张</td>
                        </tr>
                        <tr>
                            <td class="color1">客户素材图处理</td>
                            <td class="color2">20张以内</td>
                            <td class="color1">ICO图标</td>
                            <td class="color2">免费制作</td>
                        </tr>
                        <tr>
                            <td class="bgblue" rowspan="4">营销功能<br>与<br>增值服务</td>
                            <td class="color1">侧边营销工具栏</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">弹出式咨询框</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="color1">百度商桥/第三方咨询接入</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">一键分享功能</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="color1">网访问统计系统</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">百度地图插图</td>
                            <td class="color2 righticon"></td>
                        </tr>   
                        <tr>
                            <td class="color1">在线视频播放插件</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">纯静态页面生成</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="bgblue" rowspan="5">网站功能实现</td>
                            <td class="color1">网站栏目自定义管理</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">单页/综合页频道管理</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="color1">多级多类产品与服务管理</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">多级多类资讯管理</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="color1">在线信息反馈管理</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">文件上传下载管理</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="color1">招聘信息发布管理</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">友情链接管理</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="color1">SEO优化自定义管理</td>
                            <td class="color2 righticon"></td>
                            <td class="color1">图片自定义水印功能</td>
                            <td class="color2 righticon"></td>
                        </tr>
                        <tr>
                            <td class="bgblue" rowspan="2">其他说明</td>
                            <td class="color1">网站资料添加</td>
                            <td class="color2 wrongicon"></td>
                            <td class="color1">上门面谈</td>
                            <td class="color2 wrongicon"></td>
                        </tr>
                        <tr>
                            <td class="color1">网站使用权限</td>
                            <td class="color2">终生使用，无需按年付费</td>
                            <td class="color1">付款途径</td>
                            <td class="color2">
                                <img src="images/apliay.png" />
                                <img src="images/zzicon_05.jpg" />
                                <span>或公司转账</span>
                                <a href="/payment">详情>></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="serverFlow">
                    <h1>咕德网站建设服务流程</h1>
                    <img src="images/fwlc_mg_13.jpg" />
                    <ul class="cf">
                        <li>发布网站制作需求</li>
                        <li>选择产品服务类型</li>
                        <li>支付预付款，开始设计</li>
                        <li>根据需求，完成网站开发</li>
                        <li>客户验收，支付尾款</li>
                        <li>发布网站上线</li>
                    </ul>
                    <div class="pbtt">
                        <a href="/connect" class="btn2 myCustomized">
                            <span class="line2 line-top2"></span>
                            <span class="line2 line-right2"></span>
                            <span class="line2 line-bottom2"></span>
                            <span class="line2 line-left2"></span>
                            我要定制这样的套餐
                        </a>
                    </div>
                </div>
            </div>
            
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <%- homeModel.value.codeFooter %>
            </div>
        </footer>
    </body>
</html>
