<!--行业解决方案-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/solution.css"/>        
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <div class="logo lFloat"></div>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="active btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>
            <div class="main bgwhite matopinfo2">
                <div class="Interaction solution">
                    <h4 class="mt50">行业解决方案<a href="" class="rFloat">Read more</a></h4>
                    <p class="itip">咕德网络一站式解决方案</p>
                    <ul class="cf">
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_03.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">企业网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_05.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">手机网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_07.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">响应式网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_12.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">外贸行业解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_13.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">电商网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_15.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">医疗行业解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_22.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">集团网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_24.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">旺铺装修解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_20.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">微信网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" target="_blank" href="solutionDetails.html">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_30.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">营销网站解决方案</div>
                        </li>
                        <li>
                            <a class="details" href="">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_31.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">酒店行业解决方案</div>
                        </li>                       
                        <li>
                            <a class="details" href="">
                                <img width="100%" src="images/bg_02.png" />    
                                <img class="up-pic" src="images/jjfa_mg_29.jpg" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                </div>
                            </a>
                            <div class="textBtn">旅游行业解决方案</div>
                        </li>                       
                    </ul>
                </div>
            </div>  
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <div class="main cf">
                    <div class="leftphone lFloat">
                        <p>售前咨询</p>
                        <span>17189898968</span>
                        <i></i>
                    </div>
                    <div class="rightLsit rFloat">
                        <ul class="cf">
                            <li><a href="">关于咕德 </a></li>
                            <li><a href="">解决方案</a></li>
                            <li><a href="">联系我们</a></li>
                            <li><a href="">汇款账户</a></li>
                            <li><a href="">新闻资讯</a></li>
                            <li><a href="">古德外包</a></li>
                            <li><a href="">咕德</a></li>
                        </ul>
                        <p>版权所有 @ 2015-2017 杭州咕德网络科技有限公司   Copyright @ Goodwangluo.com  ALL Rights Reserved</p>
                        <span>浙 ICP 备 17020666号  </span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
