.topimg {
  width: 100%;
  text-align: center;
  margin: 30px 0 40px;
  position: relative;
  height: 230px;
  overflow: hidden;
}
.topimg img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}
.tableBox {
  padding: 50px 170px;
}
.tableBox h1 {
  text-align: center;
  font-size: 40px;
  color: #464749;
  margin-bottom: 30px;
}
.tableBox table {
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  width: 100%;
}
.tableBox table.bordertopnone {
  border-top: none;
}
.tableBox table.bordertopnone td {
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.tableBox table.bordertopnone td.righticon {
  background: url(../images/dcfh_mg_05.png) no-repeat left 25px center;
}
.tableBox table.bordertopnone td.wrongicon {
  background: url(../images/dcfh_mg_08.png) no-repeat left 25px center;
}
.tableBox table.bordertopnone a {
  color: #397dc9;
  padding-left: 5px;
}
.tableBox table tr {
  font-size: 14px;
}
.tableBox table tr.topcolor {
  color: #2867ae;
}
.tableBox table tr td {
  padding: 10px 15px 10px 25px;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.tableBox table tr td.bgblue {
  background: #397dc9;
  color: #fff;
  font-size: 16px;
  width: 130px;
  text-align: center;
}
.tableBox table tr td.color1 {
  color: #373c45;
}
.tableBox table tr td.color2 {
  color: #7a7d84;
}
.tableBox table tr td b {
  color: #ff5501;
}
.serverFlow {
  width: 1230px;
  margin: 0 auto 110px;
  text-align: center;
}
.serverFlow h1 {
  padding: 60px 0 30px;
  color: #464749;
  font-size: 40px;
}
.serverFlow .myCustomized {
  width: 247px;
  height: 47px;
  display: block;
  margin: 110px auto;
  line-height: 47px;
  border: 1px solid #29b1ed;
  color: #29b1ed;
  text-align: center;
  font-size: 18px;
}
.serverFlow .myCustomized:hover {
  background: #29b1ed;
  color: #fff;
}
.serverFlow .pbtt {
  padding-bottom: 100px;
}
.serverFlow ul {
  color: #91959e;
  font-size: 14px;
  padding-top: 10px;
}
.serverFlow ul li {
  float: left;
  display: block;
  width: 16.6%;
}
